body{
    margin:0;
    padding:0;
    font-family: Segoe UI Light,Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
    overflow: hidden;
}
.estrutura{
    display: flex;
    height: 100vh;
}
.side-bar{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 280px;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    width:350px;
    align-items: center;
    z-index: 5;
}
.informacoes{
    background-color:#00CED1;
    width: 100%;
}
.side-bar img{
    max-width: 100%;
    max-height: auto;
    width:150px;
    border-radius: 100%;
    height: 150px;
}
.foto{
    padding-top: 30px;
    margin-left: 25px;
}
.titulo{
    font-weight: bold;
    font-size: 21px;
    margin-top: -2px;
    margin-left: 18px;
}
.subtitulo{
    font-size: 16px;
    margin-left: -62px;
    margin-top: -10px;
}
.lista li, a{
    list-style-type:none;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.lista{
    margin-left: -20px;
    line-height: 50px;
}
.lista p{
    margin-left: -14px;
    font-weight: bold;
}
.lista p::after{
    content: '';
	width: 140px;
	height: 4px;
	background: greenyellow;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
}
.email::after{
    content: '';
    width: 140px;
    height: 4px;
    background: greenyellow;
    display: block;
    border-radius: 5px;
    margin-left: -25px;
}
.lista a:hover{
    color: greenyellow;
    transition: 0.5s all;
}
.lista ul{
  margin-top: -20px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    background-color:#00CED1;
    width: 100%;
    padding-left: 18px;
}

.informacoes h1{
    margin-top: -5px;
    font-size: 50px;
}
.informacoes p,h3{
    font-size: 25px;
}   

@media only screen and (max-width: 850px){
    .estrutura{
        display: block;
      }
      .side-bar{
        max-width: 100%;
        width: 100%;
      }
    body{
        overflow: auto;
    }
      .informacoes p,h3{
          font-size: 15px;
      }
      .informacoes h1{
        margin-top: -5px;
        font-size: 35px;
    }
    .informacoes{
        padding-left: 0px;
    }
    .espaco{
        padding-left: 5px;
    }
}